{% load static %}
<footer>
  <div class="container py-5 text-center">
    <div class="container py-3">
      <p style="font-size:12px">Copyright © 2023 All Rights Reserved.</p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h6>Email</h6>
        <p class="font-weight-light">uceeworld@gmail.com</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h6>Call</h6>
        <a href="tel:+2348136689405" target="_blank">
          <img src="{% static 'journpys/phone.png' %}" alt="Call" class="img-fluid" style="width: auto; height: 40px; 
          object-fit: scale-down;"></a>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h6>Socials</h6>
        <p class="font-weight-light">
          <a href="https://web.facebook.com/profile.php?id=100093638644039" target="_blank"><img
              src="{% static 'journpys/facebook.png' %}" alt="Facebook" class="img-fluid" style="width: auto; 
          height: 30px; object-fit: scale-down;"></a>
          <a href="https://www.instagram.com/ipray_kingdom/" target="_blank">
            <img src="{% static 'journpys/instagram.jpg' %}" alt="Instagram" class="img-fluid" style="width: auto; 
          height: 30px; object-fit: scale-down;"></a>
          <a href="https://twitter.com/ipray_kingdom" target="_blank">
            <img src="{% static 'journpys/twitter.png' %}" alt="Twitter" class="img-fluid" style="width: auto; 
          height: 30px; object-fit: scale-down;"></a>
        </p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h6><img src="{% static 'journpys/journpy_icon.png' %}" width="30" height="30" alt="logo"> JournPy</h6>
        <p class="font-weight-light">Learn more with
          JournPy. </p>
      </div>
    </div>
  </div>
  </div>
</footer>