{% extends "journpys/base.html" %}

{% block page_header %}
  <h1 class="text-success">About</h1>
{% endblock page_header %}

{% block content %}
  <p class="lead">JournPy is an online learning platform that offers free 
    tutorials on python. Users can learn how to write python programs and 
	track their learning using the JournPy personal journal. Users can also 
	make journal entries about other topics they are interested in. You can 
	create new topics, add new entries, read and edit existing journal entries 
	and also delete topics and entries.</p>
  <h5 class="text-success">Developer's email: uceeworld@gmail.com</h5>
{% endblock content %}
