{% extends "journpys/base.html" %}

{% block page_header %}
  <div class="jumbotron bg-white">
  	<h1 class="display-3 text-success">Your favourite learning platform.</h1>
  	<p class="lead">With JournPy, you can learn how to write python programs 
      and track your learning using your personal journal. You can make 
      journal entries for any topic you are learning about. 
      You can also use this app to record news and events that occur in your 
      daily life. Sign up and start learning today!</p>
    {% if user.is_authenticated %}
      <a class="btn btn-success" href="{% url 'journpys:topics' %}" 
        role="button">Your Journal &raquo;</a>
    {% else %}
  	  <a class="btn btn-lg btn-success" href="{% url 'users:register' %}"
  		role="button">Sign Up &raquo;</a>
    {% endif %}
  </div>
{% endblock page_header %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div col-sm-4>
      <div class="card p-0 m-0">
        <div class="row">
          <div class="col-sm-6">
            {% load static %}
            <img class="card-img" src="{% static 'journpys/leaf.jpg' %}" 
            alt="Card image"></div>
  <div class="col-sm-6">
    <div class="card-body-right">
      <h3 class="card-title text-success">User friendliness</h3>
      <p class="card-text">JournPy can be easily used by anyone including 
        children.</p>
      <h3 class="card-title text-success">Integrity</h3>
      <p class="card-text">Be rest assured that your data is safe 
        and secure.</p>
      <h3 class="card-title text-success">Functionality</h3>
      <p class="card-text">Make daily entries into your journal and monitor 
        your progress as you learn.</p>
      {% if user.is_authenticated %}
        <a class="btn btn-success" href="{% url 'journpys:topics' %}" 
          role="button">Your Journal &raquo;</a>
      {% else %}
        <a class="btn btn-success" href="{% url 'users:register' %}" 
          role="button">Sign Up &raquo;</a>
      {% endif %}
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
{% endblock content %}