{% extends "journpys/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2 class="text-success"><a href="{% url 'journpys:topic' topic.id %}" 
    class="text-reset">{{ topic }}</a></h2>
{% endblock page_header %}

{% block content %}
  <p>Add an entry for "{{ topic }}":</p>
  <form method="post" action="{% url 'journpys:new_entry' topic.id %}" 
    class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-success">Add</button>
    {% endbuttons %}
</form>

{% endblock content %}